/*
    Name: Thomas Carpenter
    Student ID: 23636116
    Description: Master stylesheet for the web application.
*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
    background: #eee;
}

/* Nav */
nav {
    display: flex;
    background: #333;
}

nav > .logo {
    font-size: 14pt;
    font-weight: bold;
}

nav > .spacer {
    flex: 1;
}

nav > a {
    text-decoration: none;
    font-size: 12pt;
    padding: 12px;
    color: #fff;
}

nav > a:not(.logo):not(.active):hover { /* Do not apply hover to logo or active link */
    background: #ccc;
    color: #333;
}

nav > a.active {
    background: #aaa;
    color: #333;
}
/* Nav Conclude */

/* Main */
main {
    display: flex;
    flex-direction: column;
}
/* Main Conclude */

/* Section */
section {
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: center;
}

section.welcome {
    background-image: url("./images/backdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section.welcome > .welcome-wrapper {
    background: rgba(255, 255, 255, 0.90);
    padding: 12px;
}

section.welcome > .welcome-wrapper > h1, section > h1, section > h2 {
    color: #1b315e;
}

section.welcome > .welcome-wrapper > p, section > p {
    font-size: 10pt;
}

section > .upcoming-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

section > .upcoming-events > .event {
    background: rgba(250, 190, 88, 0.4);
    opacity: 0.75;
    border: 2px dashed #1b315e;
    width: 300px;
    margin: 8px;
    padding: 12px;
}

section > .upcoming-events > .event > h3 {
    color: #1b315e;
}

section > .upcoming-events > .event > p {
    font-size: 10pt;
}
/* Section Conclude */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    padding: 12px;
}

footer > p {
    color: #fff;
    font-size: 8pt;
    margin: 8px 0;
}

footer > p > a {
    color: #fff;
}
/* Footer Conclude */