/*
    Name: Thomas Carpenter
    Student ID: 23636116
    Description: Master stylesheet for the web application.
*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
    background: #eee;
}

/* Nav */
nav {
    display: flex;
    background: #333;
}

nav > .logo {
    font-size: 14pt;
    font-weight: bold;
}

nav > .spacer {
    flex: 1;
}

nav > a {
    text-decoration: none;
    font-size: 12pt;
    padding: 12px;
    color: #fff;
}

nav > a:not(.logo):not(.active):hover { /* Do not apply hover to logo or active link */
    background: #ccc;
    color: #333;
}

nav > a.active {
    background: #aaa;
    color: #333;
}
/* Nav Conclude */

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px;
    overflow-x: hidden;
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
}
/* Main Conclude */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    padding: 12px;
}

footer > p {
    color: #fff;
    font-size: 10pt;
}
/* Footer Conclude */